.width-100{
  width:100%;
}
.white-background{
  background: white !important;
}
.thumb-info .thumb-info-title{
  bottom:unset !important;
}
.thumb-info-caption .thumb-info-caption-text, .thumb-info-caption p{
  margin-top: 60px;
}
